@if (productResource.isLoading()) {

<div class="flex justify-center items-center h-screen">
  <span class="loading loading-spinner loading-lg"></span>
</div>
} @if(productResource.hasValue()){
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <product-swiper
    [images]="this.productResource.value().images"
  ></product-swiper>
  <div>
    <h2 class="text-2xl font-bold font-montserrat">
      {{ this.productResource.value().title }}
    </h2>
    <div class="divider"></div>
    <p>{{ this.productResource.value().description }}</p>
  </div>
</div>

}
