<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form
  [formGroup]="this.formNewProduct"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
>
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Título"
      class="input input-bordered w-full"
      formControlName="title"
      [class.border-error]="
        this.formUtils.isValidField('title', formNewProduct)
      "
    />
    @if(this.formUtils.isValidField('title', formNewProduct)){
    <span class="text-xs text-error m-2">Este campo es requerido</span>
    }

    <input
      type="text"
      placeholder="Slug"
      class="input input-bordered w-full"
      formControlName="slug"
      [class.border-error]="this.formUtils.isValidField('slug', formNewProduct)"
    />

    @if(this.formUtils.isValidField('slug', formNewProduct)){
    <span class="text-xs text-error m-2">Este campo es requerido</span>
    }

    <textarea
      class="textarea textarea-bordered w-auto"
      formControlName="description"
      [class.border-error]="
        this.formUtils.isValidField('description', formNewProduct)
      "
      placeholder="Descripción"
      rows="6"
    ></textarea>
    @if(this.formUtils.isValidField('description', formNewProduct)){
    <span class="text-xs text-error m-2">Este campo es requerido</span>
    }

    <h2 class="text-lg font-bold">Datos de venta</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <input
          type="number"
          placeholder="Precio"
          class="input input-bordered w-full"
          formControlName="price"
          [class.border-error]="
            this.formUtils.isValidField('price', formNewProduct)
          "
        />
        @if(this.formUtils.isValidField('price', formNewProduct)){
        <span class="text-xs text-error m-2">{{
          formUtils.getFieldError("price", formNewProduct)
        }}</span>
        }
      </div>
      <div>
        <input
          type="number"
          placeholder="Inventario"
          class="input input-bordered w-full"
          formControlName="stock"
          [class.border-error]="
            this.formUtils.isValidField('stock', formNewProduct)
          "
        />
        @if(this.formUtils.isValidField('stock', formNewProduct)){
        <span class="text-xs text-error m-2">
          {{ formUtils.getFieldError("stock", formNewProduct) }}</span
        >
        }
      </div>
    </div>

    <!-- tags -->
    <input
      type="text"
      placeholder="Tags"
      class="input input-bordered w-full"
      formControlName="tags"
    />

    <!-- Botones para el género -->
    <div class="grid grid-cols-3 gap-2">
      <!-- <button class="btn btn-sm btn-outline">Masculino</button> -->
      <button
        class="btn btn-sm btn-outline"
        [class.btn-primary]="this.formNewProduct.value.gender == 'men'"
        (click)="formNewProduct.patchValue({ gender: 'men' })"
        type="button"
      >
        Masculino
      </button>
      <button
        class="btn btn-sm btn-outline"
        [class.btn-accent]="this.formNewProduct.value.gender == 'women'"
        (click)="formNewProduct.patchValue({ gender: 'women' })"
        type="button"
      >
        Femenino
      </button>
      <button
        class="btn btn-sm btn-outline"
        [class.btn-warning]="this.formNewProduct.value.gender == 'kid'"
        (click)="formNewProduct.patchValue({ gender: 'kid' })"
        type="button"
      >
        Kid
      </button>
      <button
        class="btn btn-sm btn-outline"
        [class.btn-secondary]="this.formNewProduct.value.gender == 'unisex'"
        (click)="formNewProduct.patchValue({ gender: 'unisex' })"
        type="button"
      >
        Unisex
      </button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button
        class="btn btn-sm"
        [class.btn-secondary]="this.formNewProduct.value.sizes.includes(size)"
        (click)="this.onSizeClicked(size)"
        type="button"
      >
        {{ size }}
      </button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Guardar
      </button>
    </div>

    <product-swiper [images]="this.swiperImage()" />

    <input
      type="file"
      multiple
      accept="image/*"
      class="file-input file-input-bordered w-full mt-4"
      (change)="onFilesChanged($event)"
    />

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-2">
      @for (image of this.imagesUrls(); track image) {
      <img
        [src]="image"
        alt="temporal"
        class="w-full h-[100px] object-cover rounded-2xl"
      />
      }
    </div>
  </div>
</form>

@if(this.hasSuccess()){
<app-alert
  [description]="this.messageAlert()"
  [typeAlert]="this.typeAlert()"
></app-alert>
}
